html, body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  background: url(https://img.freepik.com/free-vector/abstract-blue-hexagon-shapes-dark-background_125759-111.jpg?size=626&ext=jpg);
  background-size: cover;
  margin: 0;
  /* overflow-x: hidden; */
}

nav {
  background: transparent;
  
}
.navbar-toggler{
  outline: none;
  border: none;
}
.fa-bars{
  color: white;
  font-size: 40px;
}
.navbar-toggler:focus{
  outline: none;
  border: none;
}
.navbar-toggler:active{
  transform: scale(0.9);
}



.nav-link {
  margin: 0 5px;
  color: white !important;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.2em;
  font-family: sans-serif;
}

.nav-link:hover {
  color: #ff5733 !important;  
  /* #ffd700 */
  transform: scale(1.1);
  transition: 200ms;
}
@media screen and (max-width: 990px) {
  .nav-link {
    text-align: center;
    padding-bottom: 30px;
    font-size: 14px;
  }
  .navbar-brand img {
    width: 150px;
    height: 70px;
  }
}


/* Circle behind */
div.circleBehind a:before, div.circleBehind a:after {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 40px;
  height: 40px;
  border: 4px solid #0277bd;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  z-index: -1;
}

div.circleBehind a:after {
  border-width: 2px;
  
  }

div.circleBehind a:hover:before {
  opacity: 0.6;
  transform: translateX(-50%) translateY(-50%) scale(1);
  }

div.circleBehind a:hover:after {
  opacity: 0.6;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}
