body {
	overflow-x: hidden;
}
html,
body {
	height: 100%;
	overflow-x: hidden;
	min-height: 100%;
	/* position: relative; */
	/* min-height: calc(100vh-500px); */
}

hr {
	border-bottom: 1.5px solid #000;
	margin: 0 8em;
	outline: none;
}

.pages-stack {
	overflow: hidden;
	background: #000;
}

/*
#page-home {
	/* min-height: calc(100vh-300px);  
	overflow-y: hidden;
} */

/* Full Page Carousel */

.carousel {
	background-color: #000;
}

.carousel-item {
	height: 100vh;
	max-width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.carousel-control-prev,
.carousel-control-next {
	font-size: 35px;
	margin-left: -4%;
	margin-right: -4%;
	position: absolute;
}

.carousel-control-next-icon:after {
	box-sizing: border-box;
}

.carousel-control-prev-icon:after {
	box-sizing: border-box;
}

/* Full Page Carousel End */

/* Vision */

.vision {
	background-color: black;
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 5%;
}
.vision h2 {
	text-transform: uppercase;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	font-weight: bold;
	letter-spacing: 10px;
}
.vision p {
	margin-bottom: 2.5%;
	font-size: 17px;
	text-align: center;
	padding: 0 100px;
}

/* Vision Video */

.section-vision-container {
	pointer-events: all;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 50px;
	margin-right: 50px;
	max-width: 100%;
	margin-bottom: 10px;
	max-height: 100%;
}

/* Vision End */

/* Sponsor Section Carousel */

.sponsors {
	background: black;
	height: 100vh;
	width: 100%;
}

.sponsors h2 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 10px;
	padding-top: 3%;
	text-align: center;
	color: white;
}

.gallery {
	top: 160px;
}

.gallery-cell {
	width: 36%;
	height: 240px;
	margin-right: 20px;
	margin-left: 20px;
	border-radius: 30px;
	counter-increment: gallery-cell;
	/* box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.6) */
}
.gallery-cell:nth-child(1) {
	background: url("../sponsor-images/413.png") center;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-backdrop-filter: blur(10px);
}

.gallery-cell:nth-child(2) {
	background: url("../sponsor-images/bender.png") center;
	background-size: contain;
	background-repeat: no-repeat;
}

.gallery-cell:nth-child(3) {
	background: url("../sponsor-images/burnout.png") center;
	background-size: contain;
	background-repeat: no-repeat;
}

.gallery-cell:nth-child(4) {
	background: url("../sponsor-images/east.png") center;
	background-size: contain;
	background-repeat: no-repeat;
}

.gallery-cell:nth-child(5) {
	background: url("../sponsor-images/genuine.png") center;
	background-size: contain;
	background-repeat: no-repeat;
}
.gallery-cell:nth-child(6) {
	background: url("../sponsor-images/indian oil.png") center;
	background-size: contain;
	background-repeat: no-repeat;
}

.gallery-cell:nth-child(7) {
	background: url("../sponsor-images/mathworks.png") center;
	background-size: contain;
	background-repeat: no-repeat;
}

.gallery-cell:nth-child(8) {
	background: url("../sponsor-images/proj.png") center;
	background-size: contain;
	background-repeat: no-repeat;
}

.gallery-cell:nth-child(9) {
	background: url("../sponsor-images/solid.png") center;
	background-size: contain;
	background-repeat: no-repeat;
}

.gallery-cell:nth-child(10) {
	background: url("../sponsor-images/sparkfun.png") center;
	background-size: contain;
	background-repeat: no-repeat;
}
/* cell number */
.gallery-cell:before {
	display: block;
	text-align: center;

	line-height: 200px;
	font-size: 80px;
	color: black;
}
@media (max-width: 600px) {
	.gallery-cell {
		width: 80%;
	}
}

/* Sponsor Carousel End */

/* Achievements */

.achievements {
	width: 100%;
	height: 100%;
	background-color: #000;
}

.achievements-overlay {
	display: none;
}

.achievements h2 {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 10px;
	padding-top: 3%;
	text-align: center;
	color: white;
	margin-bottom: 50px;
}

.stories-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.story-bg {
	background-color: #121212;
	padding: 1rem;
	margin: 50px;
	width: 70%;
	transform: skewX(20deg);
	box-sizing: border-box;
	box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
}

.story {
	transform: skewX(-20deg);
	display: flex;
	padding: 15px;
}
.story-bg:before {
	content: '';
	position: absolute;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #4e4e4e;
	clip-path: circle(200px at 85% 30%);
	transition: 0.5s ease-in-out;
}
.story-bg:hover::before {
	clip-path: circle(600px at 85% 30%);
}

.story-image {
	z-index: 100000;
	width: 240px;
	height: 240px;
	object-fit: contain;
	margin: 0 3rem;
	padding: 20px 0;
	transition: .5s ease-in-out;
}
.story-bg:hover .story-image,
.story-bg:hover .story-text {
	transform: scale(1.1);
	cursor: pointer;
}

.story-text {
	letter-spacing: 0.1rem;
	padding: 50px;
	z-index: 10000;
	transition: 0.5s ease-in-out;
}

.story-heading {
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	color: var(--grey-color);
	margin-bottom: 2vw;
}

.story-paragraph {
	font-size: 16px;
	font-weight: 500;
	color: var(--light-grey-color);
	text-align: center;
}

.story-paragraph::first-letter {
	margin-left: 1rem;
}
@media (max-width: 1000px) {
	.story-image {
		margin-right: 2rem;
	}
}
@media (max-width: 850px) {
	.story-bg {
		transform: skewX(6deg);
	}

	.story {
		transform: skewX(-6deg);
		flex-direction: column;
		align-items: center;
	}

	.story-image {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 100px;
		margin-bottom: 10px;
		width: 180px;
		height: 180px;
	}
	.story-text {
		padding: 5px;
	}
}
@media (max-width: 1500px) {
	.achievements-overlay {
		display: block;
		background-color: #000;
		height: 55vh;
		width: 100%;
	}
}
/* Contact Form */

#contact {
	width: 100%;
	height: 100vh;
	background-color: #121212;
	overflow: hidden;
	padding-bottom: 200px;
}

.section-header {
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
	margin-bottom: 50px;
	/* font: 500 60px 'Oswald', sans-serif; */
	font-weight: bold;
	letter-spacing: 10px;
	color: #fff;
	margin-bottom: 25px;
}

.contact-wrapper {
	margin: 0 auto;
	padding-top: 20px;
	position: relative;
	max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
	float: left;
	max-width: 400px;
	/* font-family: 'Lato'; */
	font-weight: 400;
}

.form-control,
textarea {
	max-width: 400px;
	background-color: #111;
	color: #fff;
	letter-spacing: 1px;
}

.send-button {
	align-items: center;
	margin-top: 15px;
	height: 34px;
	width: 400px;
	overflow: hidden;
	transition: all .2s ease-in-out;
}

.button {
	width: 400px;
	height: 34px;
	transition: all .2s ease-in-out;
	margin: 0 auto;
}

.send-text {
	display: block;
	margin-top: 10px;
	font: 300 14px 'Lato', sans-serif;
	letter-spacing: 2px;
}

.button:hover {
	transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
	max-width: 400px;
	float: right;
	margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
	list-style-type: none;
	margin-left: -30px;
	padding-right: 20px;
}

.contact-list-item {
	/* display: inline-block; */
	line-height: 6;
	color: #aaa;
}

.contact-list-item i {
	margin-left: 40px;
	/* margin-right: 0px; */
}

.contact-text {
	/* display: inline-block; */
	font: 300 18px 'Montserrat', sans-serif;
	letter-spacing: 1.9px;
	line-height: 1.25;
	color: #bbb;
	float: right;
	position: absolute;
}

.place {
	margin-left: 62px;
}

.phone {
	margin-left: 56px;
}

.gmail {
	margin-left: 53px;
}

.contact-text a {
	color: #bbb;
	text-decoration: none;
	transition-duration: 0.2s;
}

.contact-text a:hover {
	color: #fff;
	text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
	position: relative;
	font-size: 2.3rem;
	text-align: center;
	width: 100%;
}

.social-media-list li a {
	color: #fff;
}

.social-media-list li {
	position: relative;
	top: 0;
	left: -20px;
	display: inline-block;
	height: 70px;
	width: 70px;
	margin: 10px auto;
	line-height: 70px;
	border-radius: 50%;
	color: #fff;
	background-color: rgb(27, 27, 27);
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.social-media-list li:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50%;
	opacity: 0;
	box-shadow: 0 0 0 1px #fff;
	transition: all .2s ease-in-out;
}

.social-media-list li:hover {
	background-color: #fff;
}

.social-media-list li:hover:after {
	opacity: 1;
	transform: scale(1.12);
	transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
	color: #111;
}

.copyright {
	font: 200 14px 'Oswald', sans-serif;
	color: #555;
	letter-spacing: 1px;
	text-align: center;
	padding-left: 25px;
}

hr {
	border-color: rgba(255, 255, 255, .8);
}

/* End Of Contact Form */

/*Footer in different CSS file */

/* Begin Media Queries*/

@media screen and (max-width: 760px) {
	.sponsors h2 {
		padding-top: 15%;
	}

	.achievements h2 {
		padding-top: 15%;
	}

	.place {
		margin-left: 30px;
	}

	.contact-list-item i {
		margin-left: 20px;
		/* margin-right: 0px; */
	}

	.carousel-item {
		height: 50vh;
		/* background-size: contain; */
	}

	.carousel-caption h3,
	.carosuel-caption p {
		font-size: 12px;
		opacity: 0.4;
	}

	#contact {
		height: 1000px;
	}

	.contact-text {
		max-width: 300px;
	}

	.section-header {
		font-size: 65px;
	}
	.direct-contact-container,
	.form-horizontal {
		float: none;
		margin: 10px auto;
	}
	.direct-contact-container {
		margin-top: 60px;
		max-width: 350px;
	}
	.social-media-list li {
		height: 60px;
		width: 60px;
		line-height: 60px;
	}
	.social-media-list li:after {
		width: 60px;
		height: 60px;
		line-height: 60px;
	}
}

@media screen and (max-width: 569px) {
	.sponsors h2 {
		padding-top: 0%;
	}

	.achievements h2 {
		letter-spacing: 7px;
	}

	.section-vision-container {
		flex: 0 0 40%;
		margin: 0;
	}

	#contact {
		height: 1200px;
	}
	.section-header {
		font-size: 50px;
	}
	.direct-contact-container,
	.form-wrapper {
		float: none;
		margin: 0 auto;
	}
	.form-control,
	textarea {
		max-width: 340px;
		margin: 0 auto;
	}

	.name,
	.email,
	textarea {
		width: 280px;
	}
	.direct-contact-container {
		margin-top: 60px;
		max-width: 360px;
	}
	.social-media-list {
		left: 0;
	}
	.social-media-list li {
		height: 55px;
		width: 55px;
		line-height: 55px;
		font-size: 2rem;
	}
	.social-media-list li:after {
		width: 55px;
		height: 55px;
		line-height: 55px;
	}
}

@media screen and (max-width: 410px) {
	.send-button {
		transform: scale(0.8);
		margin-left: -35px;
	}
	.direct-contact-container {
		max-width: 300px;
	}
}
