@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://db.onlinewebfonts.com/c/999d88f087cee910ffcd5463095970f4?family=Paperclip');

body {
  font-family: 'Lato', sans-serif;
  text-align: center;  
  color: white;
  overflow-x: visible;
}
h2 {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: 100;
}
p {
  font-size: 18px;
}

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3);
  
}
.btn {
  color: white;
}
.btn:hover{
  color: #6b1839;
}
.two {
    list-style: none;
    padding: 0;
    margin: 30px;
}
.two > li {
    background-image: url('https://images.unsplash.com/photo-1572557798994-41431698dc8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
    box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
    width: 250px;
    height: 430px;
    display: inline-block;
    margin: 20px 20px;
    text-align: center;
    font-weight: bold;
  }
  .two > li img {
    margin-top: 60px;
  }
  .two > li:hover img {
    margin-top: 30px;
  }
  .two > li:hover {
    -moz-box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
    box-shadow: 0px 0px 5px 0px rgba(103,85,85,0.25);
  }
  .two > li:hover span {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    bottom: -400px;    
  } 
  .two > li:hover h3 {
    color: rgba(255,255,255,1);
    margin-top: 15px;
  }
  .two > li .wrapper {
    overflow: hidden;
    position: absolute;
    width: 250px;
    height: 430px;    
  }
  .two > li span {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 480px;
    width: 500px;
    background: #000;
    display: block;
    position: absolute;
    bottom: -300px;
    left: -125px;
  }
  .two > li span i {
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 2px solid #fff;
    padding: 10px 30px;
    font-style: normal;
    margin-top: 10px;
    display: inline-block;
  }
  .two > li h3 {
    margin-top: 70px;
    color: rgba(255,255,255,1);
  }
  .two > li h3 em {
    display: block;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    margin-top: 5px;
  }
  .two .social {
    list-style: none;
    text-align: center;
    margin: 10 0 0 0;
    padding: 10px;    
  }
  .two .social li {
    opacity: 0;
    padding: 5px;
    display: inline-block;
  }
  .two > li:hover .social li {
    opacity: 0.9;
  }
  .two .social li a {
    cursor: pointer;
    display: block;
    opacity: 1;
  }
  .two .social li a:hover {
    opacity: 0.5;
    margin-top: 0px;
  }
  .two > li:hover .social li a {
    -webkit-animation: social-show 0.5s 1;
    -moz-animation: social-show 0.5s 1;
    -o-animation: social-show 0.5s 1;
    animation: social-show 0.5s 1;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
  }
  .two .social li img {
    width: 24px;
  }
   @-webkit-keyframes social-show {
   from {
  margin-top: 140px;
  }
  to {
    margin-top: 0px;
  }
  }
   @-moz-keyframes social-show {
   from {
  margin-top: 140px;
  }
  to {
    margin-top: 0px;
  }
  }
   @-o-keyframes social-show {
   from {
  margin-top: 140px;
  }
  to {
    margin-top: 0px;
  }
  }
   @keyframes social-show {
   from {
  margin-top: 140px;
  }
  to {
    margin-top: 0px;
  }
  }
/* Heading  */
 
  .sign {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      
      transparent
    );    
    letter-spacing: 2;
    left: 50%;
    top: 20%;
    font-family: "Paperclip";
    text-transform: uppercase;
    font-size: 3em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
      color: #ff65bd;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff2483;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }